/* Базовые стили для шапки */
header {
    background-image: linear-gradient(to right, #da0abe, #eeff00); /* Плавный переход от синего к темно-синему */
    color: white;
    height: 80px;
}

header h1 {
    font-size: 2rem; /* Размер шрифта для заголовка */
}

header .btn {
    background-color: #f8f9fa; /* Светлая кнопка */
    color: #343a40; /* Темный текст на кнопке */
}

body {
    background-color: rgb(255, 255, 255); 
}

/* Стили для главной страницы */
main {
    padding: 40px 0;
}

footer {
    background-color: #031d37; /* Темный фон для подвала */
    color: white; /* Белый текст */
    text-align: center; /* Центрируем текст */
}

/* Стили для карусели */

/* Уменьшаем отступы для элементов, следующих за каруселью */
.carousel {
    margin-top: 0 !important; /* Убираем отступ сверху */
    margin-bottom: 1px !important; /* Уменьшаем нижний отступ карусели */
}
/* Убираем лишние отступы у текста с призывом */
.text-center.my-5 {
    margin-top: 30px !important; /* Убираем верхний отступ у текста */
    margin-bottom: 100px !important;  /* Устанавливаем маленький нижний отступ */
}
.carousel-item img {
    object-fit: cover !important; /* Обеспечивает правильное обрезание изображений */
    height: 500px !important; /* Задаем высоту для картинок */
    border-radius: 20px; /* Закругляем все углы на 20px */

    
}

/* Стили для карточек концертов */
.card {
    margin-bottom: 20px;
}

.card img {
    object-fit: cover;
    height: 200px; /* Ограничение высоты картинок в карточках */
    border-radius: 20px !important;
}

/* Кастомизация кнопок */
.btn-primary {
    background-color: #eeff00;
    border-color: #eeff00;
    color:#031d37;
}

.btn-primary:hover {
    background-color: #eeff00;
    border-color: #eeff00;
    color:#031d37;
}

/* Дополнительные стили для текста на главной странице */
h2 {
    margin-top: 30px;
    font-size: 2rem;
    color: #343a40;
    text-align: center;
}

